#all-posts {
    .post-container {
      margin: 0 auto;
      width: 85%;
      max-width: 700px;

      .post {
        position: relative;
        width: 100%;
        @include hard-shadow;
        margin-bottom: 3rem;
        border: $border-thickness solid $border-color;
        font-family: $main-font;

        .post-header {
          background: $post-header-bg;
          width: 100%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          z-index: 2;
          border-bottom: $border-thickness solid $border-color;
          
          .author {
            display: flex;
            align-items: center;
            .user-img {
              height: 40px;
              width: 40px;
              border-right: $border-thickness solid $border-color
            }
            .username {
              color: $third-font-color;
              display: flex;
              align-items: center;
              justify-content: center;
              text-transform: lowercase;
              font-size: .9rem;
              font-weight: 700;
              cursor: pointer;
              padding: 0 .5rem 0 1rem;
            }
          }

          .text {
            color: $secondary-font-color;
            font-size: .9rem;
          }
          
          .time {
            color: $accents;
            margin-left: auto;
            padding: 0 1rem;
            font-size: .7rem;
            opacity: .7;
          }

          .del-btn {
            display: none;
            height: 20px;
            width: 20px;
            padding: 15px;
            align-items: center;
            justify-content: center;
            border: $border-thickness solid $button-color;
            margin-right: 0;
            cursor: pointer;
            &.active {
              display: flex;
            }
          }
        }

        .post-media {
          width: 100%;
          padding-top: 1px;
          image-orientation: from-image;
          border-bottom: $border-thickness solid $border-color;
          margin: 0 auto;
          transition: all .3s ease;
          height: 400px;
          z-index: -5;
          cursor: pointer;
          &:hover {
            width: 100%;
          }
        }

        .backdrop {
          position: fixed;
          padding: 100px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0,0,0,.5);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 100;

          .modal {
            padding: 50px;
            background-color: white;

            img {
              max-height: 70vh;
              max-width: 70vw;
              cursor: pointer;
            }
          }
        }

        .post-link {
          display: flex;
          align-items: flex-start;
          overflow-y: hidden;
          max-height: 100px;
          width: 100%;

          .link-image {
            display: flex;
            align-items: center;
            width: 20%;
            padding-top: 3px;
            img {
              width: 100%;
            }
          }

          .link-info {
            display: flex;
            flex-direction: column;
            padding: .5rem;
            width: 80%;

            .link-title {
              h2 {
                font-weight: 700;
                color: $accents;
                margin-bottom: .6rem;
              }
            }
            .link-desc {
              h5 {
                color: $secondary-font-color;
                font-size: .7rem;
              }
            }
          }
        }
        
        .post-info {
          border-bottom: none;
          background: $post-bg;
          width: 100%;
          margin: 0 auto 0;
          z-index: -10;

          .title {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 700;
            padding: .3rem;

            &::before {
              content: "~{"
            }
            &::after {
              content: "}~"
            }
          }

          p {
            width: 100%;
            text-align: left;
            font-size: 1.3rem;
            word-wrap: break-word;
            padding: 1rem 1rem;
            background: $post-bg;
            color: $lr-menu-headers;
            transition: all .3s ease-in-out;
            cursor: pointer;
          }
        }

        .post-stats {
          background: $post-bg;
          width: 100%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          padding: .3rem;

          .icons {

            .like-btn {
              height: 20px;
              width: 20px;
              padding: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: $border-thickness solid $button-color;
              margin-right: 0;
              cursor: pointer;
              
              &.active {
                background: $button-color;
                color: $button-bg
              }

              &:hover {
                background: $button-color;
                color: $button-bg;
              }
            }
          }

          .text {
            color: $secondary-font-color;
            font-size: .9rem;
            margin-left: .5rem;
          }

          .comment-count {
            color: $accents;
            font-size: .9rem;
            margin-left: auto;
          }
        }

        .c-section {
          width: 100%;
          background: $post-bg;
          border-top: $border-thickness solid $border-color;
          padding: 0;
          z-index: 1;

          textarea {
            z-index: 1;
            width: 100%;
            height: 45px;
            resize: none;
            border: none;
            padding: .5rem 2.5rem .5rem 1rem;
            border-bottom: $border-thickness solid $border-color;
            background: $write-comment-bg;
            color: $primary-font-color;
            transition: all .3s ease;
            font-size: 14px;
            overflow-y: auto;
            outline: none;
            &::-webkit-scrollbar {
              display: none;
            }
            &:focus {
              height: 50px;
            }
            &::placeholder {
              color: $placeholder-font-color;
            }
            &:focus::placeholder{
              color: transparent;
            }
          }
        }
        .buttons {
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          padding: .5rem;
          background: $post-bg;
          position: relative;
          border-top: none;

          .comments {
            width: 100%;
            border: $border-thickness solid $border-color;
            display: flex;
            flex-direction: column;
            
            .single-comment {
              background: $comment-bg;
              display: flex;
              width: 100%;
              min-height: 25px;
              padding: .5rem .2rem;
              position: relative;

              &:nth-of-type(2n){
                background: $comment-bg;
              }

              &:not(:last-of-type) {
                border-bottom: $border-thickness solid $border-color;
              }

              &:hover {
                & > .del-btn {
                  opacity: 1;
                }
              }
              

              a.user {
                display: flex;
                align-items: flex-start;

              }
              .comment-pic {
                height: 25px;
                width: 25px;
                margin-right: .5rem;
              }
              
              h2 {
                font-size: .9rem;
                font-weight: 500;
                color: $primary-font-color;
                padding-top: .3rem;
                display: inline-block;
                padding-right: .5rem;
              }

              p {
                padding: .2rem .3rem;
                color: $secondary-font-color;
                display: flex;
                font-size: .9rem;
                align-items: center;
                word-break: break-word;
              }

              .del-btn {
                display: none;
                opacity: 0;
                transition: all .3s ease-in-out;
                position: absolute;
                top: 5px;
                right: 0px;
                height: 20px;
                width: 20px;
                padding: 15px;
                align-items: center;
                justify-content: center;
                border: $border-thickness solid $button-color;
                margin-right: .7rem;
                cursor: pointer;

                &.active {
                  display: flex;
                }
                
              }
            }
          }

          .send-btn {
            height: 20px;
            width: 20px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: $border-thickness solid $button-color;
            // margin-right: .7rem;
            cursor: pointer;
            position: absolute;
            top: -2.1rem;
            right: 0px;
            z-index: 2;

            i {
              font-size: 1.2rem;
            }
          }
          
        }
      }
    }
  }