#compose {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    // padding: .7rem 0;
    position: relative;
    margin-bottom: 3rem;
    display: flex;    
    textarea {
      // margin-left: auto;
      width: 100%;
      height: 70px;
      border: $border-thickness solid $border-color;
      resize: none;
      // background: $compose-bg;
      background: linear-gradient(-45deg, #1c252e, #212c37);
      padding: .5rem 2rem .5rem 3rem;
      font-size: 1.2rem;
      outline: none;
      color: $primary-font-color;
      overflow: visible;
      transition: all .3s ease;
      border-radius: 7px;
      &:focus {
        height: 80px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      &::placeholder {
        color: $placeholder-font-color;
      }
      &:focus::placeholder{
        color: transparent;
      }
      @include hard-shadow;
    }

    .user-img {
      height: 40px;
      width: 40px;
      position: absolute;
      top: 0;
      // left: -1rem;
      left: 0;
      border: $border-thickness solid $border-color;
    }

    .photo-btn, .video-btn, .send-btn {
      height: 20px;
      width: 20px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border: $border-thickness solid $button-color;
      @include hard-shadow;
      cursor: pointer;
      i {
        font-size: 1.2rem;
      }
    }

    .photo-btn {
      top: 0px;
      right: 0px;

      #hidden-input {
        display: block;
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
    .video-btn {
      bottom: 30px;
      right: -10px;
    }
    .send-btn {
      bottom: 3px;
      right: 0px;
    }

    .preview {
      position: absolute;
      top: 0px;
      right: 25px;
      width: 32px;
      height: 32px;
      z-index: 5;

      &.active {
        border: $border-thickness solid $border-color;
        cursor: not-allowed;
      }
    }
  }