.home-page {
  position: relative;
  // display: grid;
  // grid-template-columns: minmax(200px, 15%) 70% minmax(200px, 15%);
  display: flex;
  justify-content: space-between;

  #content-container {
    border-right: $border-thickness solid $border-color;
    // color: $primary-font-color;
    width: 100%;
    overflow: hidden;
    background: $content-area-bg;
    // background-color: transparent;

    .header {
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 .7rem;
      height: 4.25rem;
      border-bottom: $border-thickness solid $border-color;
      background-color: $search-header-bg;
      // background-color: transparent;
      .nothing {
        width: 116px;
      }
      > a {
        height: 70%;
        // margin-right: 1rem;
        img {
          height: 100%;
          border-radius: $border-r;
          border: $border-thickness solid $border-color;
        }
      }
      .search {
        // margin: 0 auto;
        width: 70%;
        max-width: 600px;
        display: flex;
        align-items: center;
        img {
          width: 150px;
        }
        input[type="text"] {
          font-size: 1.2rem;
          padding: 3px 8px;
          width: 75%;
          background: $write-comment-bg;
          border: $border-thickness solid $border-color;
          outline: none;
          color: $primary-font-color;
          border-radius: $border-r;
          &::placeholder {
            color: $placeholder-font-color;
            opacity: .5;
          }
          &:focus::placeholder {
            color: transparent;
          }
        }
      }

      .icons {
        display: grid;
        grid-template-columns: repeat(3, 2rem);

        padding: 0 5px;
        cursor: pointer;

        .fa {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.1rem;
          color: $button-color;
        }
      }
    }

    .content-area {
      // padding-top: 1rem;
      box-sizing: content-box;
      width: 100%;
      height: calc(100vh - 68px);
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      // display: flex;
      // flex-direction: column;
      // position: fixed;
      // background: linear-gradient(-180deg, #1c252e, #212c37);
      // @include forest-gradient;
      // @include cotton-candy-gradient;
      // box-shadow: 5px 5px 5px 5px $shadow-color inset;
      &::-webkit-scrollbar {
        display: none;
      }

      &.tron {
        .bg-video {
          display: block;
        }
      }

      .bg-video {
        align-self: center;
        position: fixed;
        height: 100%;
        width: 100%;
        display: none;
        object-fit: cover;
      }
    }
    
  }

}

