#left-menu {
    border-right: $border-thickness solid $border-color;
    position: relative;
    font-family: $main-font;
    background-color: $left-menu-bg;
    
    .account-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.25rem;
      border-bottom: $border-thickness solid $border-color;
      background-color: $left-menu-bg;
      color: $lr-menu-headers;
      min-width: 200px;
      cursor: pointer;
      .username {
        text-transform: lowercase;
        font-size: 1.2rem;
        font-weight: 700;
        color:  $lr-menu-headers;
      }
    }

    .dropdown {
      height: 0px;
      overflow: hidden;
      right: 0;
      width: 100%;
      z-index: 10;
      background: $secondary;
      transition: all .3s ease-in-out;
      nav {
        width: 100%;
        a {
          width: 100%;
          text-align: center;
          display: block;
          padding: .4rem 1rem;
          color: $third;
          font-weight: 500;
          &:hover {
            background: $primary;
            color: $secondary;
          }
        }
      } 

      &.active {
        height: 5.4rem;
      }
    }

    .groups {
      padding: .7rem;

      .title {
        font-size: 1.2rem;
        text-transform: lowercase;
        font-weight: bold;
        padding: .7rem 0;
        color: $left-menu-primary;
      }

      ul {
        padding-left: 1rem;
        li {
          font-size: .9rem;
          padding: .7rem 0;
          font-weight: 700;
          transition: all .3s ease-in-out;
          color: $left-menu-secondary;
          cursor: pointer;

          &::before{
            content: ":/~";
          }
          &:hover {
            // background: $primary-font-color;
            color: $accents;
            transform: scale(1.05);
          }
        }
      }
    }

    .logout {
      width: 100%;
      padding: .5rem;
      height: 50px;
      border-top: $border-thickness solid $border-color;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease-in-out;
      background: $left-menu-bg;
      color: $third-font-color;
      transition: all .3s ease-in-out;
      font-weight: 700;
      i {
        margin-left: .3rem;
      }

      &:hover {
        background: $primary-font-color;
        color: $secondary;
      }
    }
  }