#left-menu {
    border-right: $border-thickness solid $border-color;
    position: relative;
    
    .account-dropdown {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      padding: .77rem;
      border-bottom: $border-thickness solid $border-color;
      // border-right: $border-thickness solid $border-color;
      background-color: $left-menu-header-bg;
      color: $left-menu-header;
      height: 58px;
      min-width: 200px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-font-color;
        cursor: pointer;
        .fa {
          font-size: 1.3rem;
        }
      }
      .username {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: lowercase;
        font-size: .8rem;
        font-weight: 700;
        color:  $left-menu-header;
        cursor: pointer;
      }
      .icon-down {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        .fa {
          color: $primary-font-color;
          font-size: 1rem;
          position: absolute;
          top: 6px;
          padding-left: 8px;
        }
      }
    }

    .dropdown {
      height: 0px;
      overflow: hidden;
      right: 0;
      width: 100%;
      z-index: 10;
      background: $dropdown;
      transition: all .3s ease-in-out;
      nav {
        width: 100%;
        a {
          width: 100%;
          text-align: center;
          display: block;
          padding: .4rem 1rem;
          color: $third;
          font-weight: 500;
          &:hover {
            background: $primary;
            color: $secondary;
          }
        }
      } 

      &.active {
        height: 5.4rem;
      }
    }

    .groups {
      padding: .7rem;

      .title {
        font-size: 1.2rem;
        text-transform: lowercase;
        font-weight: bold;
        padding: .7rem 0;
        color: $third;
      }

      ul {
        padding-left: 1rem;
        li {
          font-size: .9rem;
          padding: .7rem 0;
          font-weight: 700;
          transition: all .3 ease;
          color: $primary-font-color;
          cursor: pointer;

          &::before{
            content: ":/~";
          }
          &:hover {
            background: $primary-font-color;
            color: $secondary-font-color;
            transform: scale(1.05);
          }
        }
      }
    }

    .logout {
      width: 100%;
      padding: .5rem;
      height: 50px;
      border-top: $border-thickness solid $border-color;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease-in-out;
      background: $left-menu-footer-bg;
      color: $primary-font-color;
      transition: all .2s ease-in-out;

      .fa {
        margin-left: .3rem;
      }

      &:hover {
        background: $primary-font-color;
        color: $secondary;
      }
    }
  }