#left-menu {
    border-right: $border-thickness solid $border-color;
    position: absolute;
    height: 100%;
    font-family: $main-font;
    background-color: $left-menu-bg;
    top: 0;
    left: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in-out;
    z-index: 2;

    -webkit-box-shadow: 23px 0px 57px -20px rgba(39,61,84,.2);
    -moz-box-shadow: 23px 0px 57px -20px rgba(39,61,84,.2);
    box-shadow: 23px 0px 57px -20px rgba(39,61,84,.2);

    &.closed {
      left: -15rem;

      -webkit-box-shadow: 23px 0px 57px -20px rgba(155,155,155,.2);
      -moz-box-shadow: 23px 0px 57px -20px rgba(155,155,155,.2);
      box-shadow: 23px 0px 57px -20px rgba(155,155,155,.2);
    }
    
    .account-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.25rem;
      // border-bottom: $border-thickness solid $border-color;
      background-color: $left-menu-bg;
      color: $lr-menu-headers;
      min-width: 200px;
      margin-right: 1rem;
      cursor: pointer;

      .username {
        text-transform: lowercase;
        font-size: 1.2rem;
        font-weight: 700;
        color:  $lr-menu-headers;
      }
    }

    .groups {
      padding: .7rem;

      .title {
        font-size: 1.2rem;
        text-transform: lowercase;
        font-weight: bold;
        padding: .7rem 0;
        color: $left-menu-primary;
      }

      ul {
        padding-left: 1rem;
        li {
          font-size: .9rem;
          padding: .7rem 0;
          font-weight: 700;
          transition: all .3s ease-in-out;
          color: $left-menu-secondary;
          cursor: pointer;

          &::before{
            content: ": ";
          }
          &:hover {
            // background: $primary-font-color;
            color: $accents;
            transform: scale(1.05);
          }
        }
      }
    }

    .open-btn {
      height: 30px;
      width: 30px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: $border-thickness solid $button-color;
      @include hard-shadow;
      // background: transparent;
      background: $secondary;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: -15px;
      color: $accents;
      border-radius: 20%;

      i {
        font-size: 1.2rem;
        color: $accents;
        transform: scale(1);
        transform: rotateZ(0deg);
        transition: all .5s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
  
        &.closed {
          color: $title-font-color;
          transform: rotateZ(180deg);
        }
      }
    }

    .logout {
      width: 100%;
      align-self: center;
      padding: .5rem;
      height: 50px;
      border-top: $border-thickness solid $border-color;
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease-in-out;
      background: $left-menu-bg;
      color: $third-font-color;
      transition: all .3s ease-in-out;
      font-weight: 700;
      cursor: pointer;
      i {
        margin-left: .3rem;
      }

      &:hover {
        background: $primary-font-color;
        color: $secondary;
      }
    }
  }