#messenger {
    min-width: 200px;
    max-height: 85vh;
    position: relative;
    font-family: $main-font;

    .messenger-header {
      background-color: $right-menu-bg;
      color: $lr-menu-headers;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.25rem;
      border-bottom: $border-thickness solid $border-color;
      min-width: 101%;

      .messenger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.5rem;
        cursor: pointer;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .options-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1.5rem;
        cursor: pointer;
      }
    }

    .users {
      // padding-top: .7rem;
      display: block;
      box-sizing: content-box;
      width: 110%;
      height: calc(80vh - 120px);
      overflow: auto;
      background: $right-menu-bg;
      &::-webkit-scrollbar {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        padding: .7rem;
        cursor: pointer;
        transition: all .3s ease;
        color: $right-menu-names;
        background: $right-menu-bg;
        &:hover {
          color: $primary-font-color;
          transform: scale(1.05);
        }

        // &:nth-of-type(2n){
        //   background: $third;
        //   color: $right-menu-names;
        //   &:hover {
        //     // background: $primary-font-color;
        //     color: $accents;
        //     transform: scale(1.05);
        //   }
        // }

        border-bottom: $border-thickness solid $border-color;

        .user-img {
          height: 35px;
          width: 35px;

          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border: $border-thickness solid $border-color;
          margin-right: .6rem;
        }
        
        .username {
          font-size: .9rem;
        }

        .message-icon {
          margin-left: auto;
          margin-right: 1.8rem;
          
          i {
            color: $right-menu-icons;
            font-size: 1.1rem;
          }
        }
      }
    }

    .search {
      width: 100%;
      padding: .5rem;
      height: 50px;
      background: $right-menu-bg;
      border-top: $border-thickness solid $border-color;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      color: $third-font-color;

      i {
        margin-left: .8rem;
      }

      input[type='text'] {
        border: none;
        background: transparent;
        outline: none;
        padding: .5rem;
        border-radius: 30%;
        width: 70%;
        
        font-size: 1.2rem;
        &::placeholder {
          color: $placeholder-font-color;
          opacity: .8;
          font-weight: 700;
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
    }
  }