#messenger {
    width: 18rem;
    min-width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: $main-font;
    background-color: $right-menu-bg;
    border-left: $border-thickness solid $border-color;
    
    transition: all .5s ease-in-out;
    z-index: 50;

    -webkit-box-shadow: -23px 0px 57px -20px rgba(39,61,84,.2);
    -moz-box-shadow: -23px 0px 57px -20px rgba(39,61,84,.2);
    box-shadow: -23px 0px 57px -20px rgba(39,61,84,.2);

    &.closed {
      right: -16.5rem;

      -webkit-box-shadow: -23px 0px 57px -20px rgba(155,155,155,.2);
      -moz-box-shadow: -23px 0px 57px -20px rgba(155,155,155,.2);
      box-shadow: -23px 0px 57px -20px rgba(155,155,155,.2);
    }

    .messenger-header {
      background-color: $right-menu-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.25rem;
      // border-bottom: $border-thickness solid $border-color;
      min-width: 101%;
      

      .messenger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.5rem;
        cursor: pointer;
        border-radius: $border-r;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: $third-font-color;
        // font-weight: 700;
        // font-style: italic;
      }
      .options-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1.5rem;
        cursor: pointer;
        border-radius: $border-r;
      }
    }

    .users {
      padding-left: 2rem;
      display: block;
      box-sizing: content-box;
      height: calc(80vh - 120px);
      overflow: auto;
      overflow-x: hidden;
      background: $right-menu-bg;
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }

      .divider {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $accents;
        margin-left: -2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .user {
        display: flex;
        align-items: center;
        padding: .7rem;
        cursor: pointer;
        transition: all .3s ease;
        color: $right-menu-names;
        background: $right-menu-bg;

        &.blink {
          background-color: $accents;
          color: red;
        }

        @media (hover: hover) {
          &:hover {
            color: $third-font-color;
            transform: scale(1.02);
          }
        }

        // disable offline users for now
        &.off {
          pointer-events: none;
        }

        // your own name at the top
        &.self {
          pointer-events: none;
          color: $primary-font-color;
        }

        // &:nth-of-type(2n){
        //   background: $third;
        //   color: $right-menu-names;
        //   &:hover {
        //     // background: $primary-font-color;
        //     color: $accents;
        //     transform: scale(1.05);
        //   }
        // }

        border-bottom: $border-thickness solid $border-color;

        .user-img {
          height: 35px;
          width: 35px;

          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border: $border-thickness solid $border-color;
          margin-right: .6rem;
          border-radius: $border-r;
        }
        
        .username {
          font-size: .9rem;
        }

        .message-icon {
          margin-left: auto;
          margin-right: 1.8rem;
          border-radius: $border-r;
          
          i {
            color: $right-menu-icons;
            font-size: 1.1rem;
          }
        }
      }
    }

    .open-btn {
      height: 30px;
      width: 30px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: $border-thickness solid $border-color;
      @include hard-shadow;
      // background: transparent;
      background: $secondary;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: -15px;
      transform-style: preserve-3d;
      transition: all .3s ease-in-out;
      // border-radius: 20%;
      border-radius: $border-r;

      i {
        font-size: 1.2rem;
        color: $accents;
        transform: scale(1);
        transform: rotateZ(0deg);
        transition: all .5s ease-in-out;
        @media (hover: hover) {
          &:hover {
            transform: scale(1.2);
          }
        }

        &.closed {
          color: $title-font-color;
          transform: rotateZ(180deg);
        }
      }

      
    }

    .chat {
      position: absolute;
      width: 300px;
      height: 350px;
      left: -19rem;
      bottom: 0;
      display: flex;
      flex-direction: column;
      // background: white;
      padding: 1px;
      z-index: 1000;
      transition: all .3s ease-in-out;
      border: $border-thickness solid $border-color;

      &.min {
        height: 40px;
        
        >.chat-body {
          height: 0;
          padding: 0;
        }
        >.chat-compose {
          height: 0;
          display: none;
        }
      }

      .chat-header {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $write-comment-bg;
        color: $accents;
        position: relative;
        z-index: inherit;
        transition: all .3s ease-in-out;

        .chat-user {
          font-size: 1.2rem;
          color: $accents;
          z-index: inherit;

          &.blink {
            color: red;
          }
        }

        .min-btn {
          position: absolute;
          left: .3rem;
          cursor: pointer;
          font-size: 1.3rem;
          z-index: inherit;
          border-radius: $border-r;
          border: $border-thickness solid $border-color;

          i {
            transform: rotateZ(0deg);
            transition: all .3s ease-in-out;

            &.min {
              transform: rotateZ(180deg);
            }
          }
          
        }

        .close-btn {
          position: absolute;
          right: .3rem;
          cursor: pointer;
          font-size: 1.3rem;
          z-index: inherit;
          border-radius: $border-r;
          border: $border-thickness solid $border-color;
          @media (hover: hover) {
            &:hover {
              color: red;
            }
          }
        }
      }

      .chat-body {
        width: 100%;
        background: $secondary;
        height: 300px;
        overflow: auto;
        padding: .5rem 1rem;
        z-index: inherit;
        transition: all .3s ease-in-out;
        border-top: $border-thickness solid $border-color;
        border-bottom: $border-thickness solid $border-color;
        // @include hard-shadow;
        &::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none;

        .message {
          background: transparent;
          margin-bottom: .5rem;
          z-index: inherit;
          font-size: .8rem;
          overflow-wrap: break-word;
          line-height: 1rem;
          margin-right: 10%;
          margin-left: 0;

          &.self {
            text-align: right;
            margin-right: 0;
            margin-left: 10%;
            p {
              color: $lr-menu-headers;
            }
          }

          .message-user {
            font-size: 1.1rem;
            color: $accents;
          }

          p {
            color: $primary-font-color;
          }
        }
      }

      .chat-compose {
        width: 100%;
        background: $write-comment-bg;
        color: $lr-menu-headers;
        display: grid;
        grid-template-columns: 4fr 1fr;
        z-index: inherit;

        input[type='text'] {
          background: $write-comment-bg;
          color: $accents;
          font-size: .8rem;
          &::placeholder {
            color: $placeholder-font-color;
            opacity: .8;
            // font-weight: 700;
          }
          &:focus::placeholder {
            color: transparent;
          }
        }

        .send-btn {
          z-index: inherit;
          align-self: center;
          justify-self: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          padding: 20px;
          border-radius: $border-r;
          border: $border-thickness solid $border-color;
          // background: $secondary;
          cursor: pointer;
        }
      }
    }

    .search {
      width: 100%;
      margin-left: 2rem;
      padding: .5rem;
      height: 50px;
      background: $right-menu-bg;
      border-top: $border-thickness solid $border-color;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      color: $lr-menu-headers;

      i {
        margin-left: .8rem;
      }

      input[type='text'] {
        border: none;
        background: transparent;
        outline: none;
        padding: .5rem;
        border-radius: 30%;
        width: 70%;
        color: $lr-menu-headers;
        
        font-size: 1.2rem;
        &::placeholder {
          color: $third-font-color;
          opacity: .8;
          // font-weight: 700;
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
    }
  }