#messenger {
    min-width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: $main-font;
    background-color: $right-menu-bg;
    
    transition: all .5s ease-in-out;
    z-index: 2;

    -webkit-box-shadow: -23px 0px 57px -20px rgba(39,61,84,.6);
    -moz-box-shadow: -23px 0px 57px -20px rgba(39,61,84,.6);
    box-shadow: -23px 0px 57px -20px rgba(39,61,84,.6);

    &.closed {
      right: -16rem;

      -webkit-box-shadow: -23px 0px 57px -20px rgba($lr-menu-headers,.4);
      -moz-box-shadow: -23px 0px 57px -20px rgba($lr-menu-headers,.4);
      box-shadow: -23px 0px 57px -20px rgba($lr-menu-headers,.4);
    }

    .messenger-header {
      background-color: $right-menu-bg;
      color: $lr-menu-headers;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.25rem;
      border-bottom: $border-thickness solid $border-color;
      min-width: 101%;

      .messenger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.5rem;
        cursor: pointer;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .options-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1.5rem;
        cursor: pointer;
      }
    }

    .users {
      padding-left: 2rem;
      display: block;
      box-sizing: content-box;
      height: calc(80vh - 120px);
      overflow: auto;
      overflow-x: hidden;
      background: $right-menu-bg;
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        padding: .7rem;
        cursor: pointer;
        transition: all .3s ease;
        color: $right-menu-names;
        background: $right-menu-bg;
        &:hover {
          color: $primary-font-color;
          transform: scale(1.05);
        }

        // &:nth-of-type(2n){
        //   background: $third;
        //   color: $right-menu-names;
        //   &:hover {
        //     // background: $primary-font-color;
        //     color: $accents;
        //     transform: scale(1.05);
        //   }
        // }

        border-bottom: $border-thickness solid $border-color;

        .user-img {
          height: 35px;
          width: 35px;

          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          border: $border-thickness solid $border-color;
          margin-right: .6rem;
        }
        
        .username {
          font-size: .9rem;
        }

        .message-icon {
          margin-left: auto;
          margin-right: 1.8rem;
          
          i {
            color: $right-menu-icons;
            font-size: 1.1rem;
          }
        }
      }
    }

    .open-btn {
      height: 30px;
      width: 30px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: $border-thickness solid $button-color;
      @include hard-shadow;
      // background: transparent;
      background: $secondary;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: -15px;
      transform-style: preserve-3d;
      transition: all .3s ease-in-out;
      border-radius: 20%;

      i {
        font-size: 1.2rem;
        color: $accents;
        transform: scale(1);
        transform: rotateZ(0deg);
        transition: all .5s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }

        &.closed {
          color: $title-font-color;
          transform: rotateZ(180deg);
        }
      }

      
    }

    .chat {
      position: absolute;
      width: 300px;
      height: 350px;
      left: -100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      background: white;
      padding: 1px;
      z-index: 1000;

      .chat-header {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $secondary;
        color: $accents;
        position: relative;

        .chat-user {
          font-size: 1.2rem;
          color: $primary-font-color;
        }

        .close-btn {
          position: absolute;
          right: .3rem;
          cursor: pointer;
          font-size: 1.3rem;
          &:hover {
            color: red;
          }
        }
      }

      .chat-body {
        width: 100%;
        background: $primary-font-color;
        height: 300px;
        padding: .5rem 1rem;
        @include hard-shadow;

        .message {
          background: transparent;
          margin-bottom: .5rem;

          &.self {
            text-align: right;
            color: $lr-menu-headers;
          }

          .message-user {
            font-size: 1.1rem;
            color: $accents;
          }
          .p {
            color: $primary;
          }
        }
      }

      .chat-compose {
        width: 100%;
        background: $write-comment-bg;
        color: $lr-menu-headers;
        display: grid;
        grid-template-columns: 4fr 1fr;

        input[type='text'] {
          background: $write-comment-bg;
          color: $accents;
          overflow: wrap;
          &::placeholder {
            color: $placeholder-font-color;
            opacity: .8;
            font-weight: 700;
          }
          &:focus::placeholder {
            color: transparent;
          }
        }

        .send-btn {
          align-self: center;
          justify-self: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          padding: 20px;
          // background: $secondary;
          cursor: pointer;
        }
      }
    }

    .search {
      width: 100%;
      margin-left: 2rem;
      padding: .5rem;
      height: 50px;
      background: $right-menu-bg;
      border-top: $border-thickness solid $border-color;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      color: $lr-menu-headers;

      i {
        margin-left: .8rem;
      }

      input[type='text'] {
        border: none;
        background: transparent;
        outline: none;
        padding: .5rem;
        border-radius: 30%;
        width: 70%;
        color: $lr-menu-headers;
        
        font-size: 1.2rem;
        &::placeholder {
          color: $placeholder-font-color;
          opacity: .8;
          font-weight: 700;
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
    }
  }