.welcome-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .welcome-container {
        background-color: rgba(251, 247, 243, 0.493);
        // background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.35) 35%, rgba(255,255,255,0.7) 64%, rgba(255,255,255,.6) 65%, rgba(255,255,255,.5) 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.35) 35%,rgba(255,255,255,0.7) 64%,rgba(255,255,255,.6) 65%,rgba(255,255,255,.5) 100%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.35) 35%,rgba(255,255,255,0.7) 64%,rgba(255,255,255,.6) 65%,rgba(255,255,255,.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
        height: 100%;
        width: 100%;
        max-width: 400px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .welcome {
            h1 {
                color: $welcome-color;
                text-align: center;
                font-size: 43px;
                margin-bottom: 2rem;
            }
    
            h3 {
                color: $welcome-subtitle;
                text-align: center;
                font-size: 13px;
            }
        }

        .login {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
            width: 100%;
            
            .button {
                color: white;
                margin: 1rem auto;
                width: 100%;
                max-width: 250px;
                padding: .7rem 1rem;
                text-align: center;
                border: 1px solid black;
                font-weight: 700;
                cursor: pointer;
                @include hard-shadow;
                transition: all .2s ease;

                &:hover {
                    -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.9);
                    -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.9);
                    box-shadow: 0px 0px 0px 0px rgba(255,255,255,.9);
                    transform: translate(5px, 5px);
                    opacity: .8;
                }
            }

            .google-btn {
                @include google-gradient;
            }

            .facebook-btn {
                @include fb-gradient;
            }

            .email-btn {
                color: black;
                @include email-gradient;
            }

            hr {
                margin: 2rem auto;
                width: 50%;
                height: 2px;
                background-color: $welcome-color;
            }

            .register {
                color: $welcome-color;
                transition: all .2s ease;
                &:hover {
                    color: $primary-font-color;
                    transform: scale(1.2);
                }
            }
        }
    }
}