// random colors
$offwhite: #f8f8f8;
$france: #bcbbbd;
$tapa: #727271;
$tundra: #474040;
$energy: #f9cf5d;
$manhattan: #f6c687;
$goldenrod: #fbc473;
$sandy: #f4ae60;
$apricot: #ed8e74;
$geraldine: #f98673;
$rose: #f02caa;
$thunder: #432943;

// sun theme
$sunlight: #FDC300;
$shadow: #EC7501;
$burning: #D35701;
$silouette: #5C0C01;
$darkness: #2E0201;


// ========= THEME SECTION ========
$primary: #7395AE;
$secondary: #ADADAD;
$third: #557A95;
$fourth:#5D5C61;
$title-font-color: $secondary;
$primary-font-color: #4F1B1D;
$secondary-font-color: $fourth;
$placeholder-font-color: #ADADAD;
$third-font-color: $primary;


// seafoam
// $primary: #CAFAFE;
// $secondary: #85CDCA;
// $third: #55BDCA;
// $fourth:#05396B;
// $title-font-color: $secondary;
// $primary-font-color: #05396B;
// $secondary-font-color: #05396B;
// $placeholder-font-color: $primary;
// $third-font-color: $primary;


// original (roughly)
// $primary: $apricot;
// $secondary: $offwhite;
// $third: $sunlight;
// $title-font-color: $secondary;
// $primary-font-color: $primary;
// $secondary-font-color: $primary;
// $placeholder-font-color: $primary;
// $third-font-color: $third;



// area specific color vars
$outer-bg: $primary;
$content-area-bg: $primary;
$welcome-color: white;
$welcome-subtitle: black;
$search-header-bg: $secondary;
$left-menu-bg: $primary;
$left-menu-header:#4F1B1D;
$left-menu-header-bg: $secondary;
$left-menu-footer-bg: $third;
$dropdown: $secondary;
$messenger-bg: $secondary;
$messenger-header: $primary-font-color;
$messenger-header-bg: $secondary;
$messenger-user-bg: transparent;
$messenger-user-bg-alt: $messenger-user-bg;
$messenger-footer-bg: $third;
$post-area-bg: white;
$compose-bg: $secondary;
$post-bg: $secondary;
$post-header-bg: $secondary;
$comment-bg: $primary;
$comment-bg-alt: $primary;
$write-comment-bg: $third;

$button-bg: $primary;
$button-color: $third;
$shadow-color: rgba(0,0,0,0.75);
$shadow-light: rgba(255,255,255,.9);

$border-color: $fourth;
$border-thickness: 1px;

// other vars
$app-width: 80vw;
$app-height: 85vh;
$title-font: Montserrat;
$main-font: 'Montserrat', sans-serif;
$small-font: 'Montserrat', sans-serif;



//hixle.co/gradients/fire
@mixin main-gradient {
  background: rgba(255,95,108,1);
  background: -moz-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,95,108,1)), color-stop(100%, rgba(255,195,113,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
  background: linear-gradient(135deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
}

@mixin lighter-gradient {
  background: rgb(251,227,138);
  background: linear-gradient(315deg, rgba(251,227,138,1) 0%, rgba(205,155,177,1) 100%);
}

@mixin fb-gradient {
  background: rgb(30,87,153);
  background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
}

@mixin google-gradient {
  background: rgb(248,80,50);
  background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
  background: linear-gradient(135deg, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
}

@mixin email-gradient {
  background: rgb(210,223,237);
  background: -moz-linear-gradient(-45deg, rgba(210,223,237,1) 0%, rgba(200,215,235,1) 26%, rgba(190,208,234,1) 51%, rgba(166,192,227,1) 51%, rgba(175,199,232,1) 62%, rgba(186,208,239,1) 75%, rgba(153,181,219,1) 88%, rgba(121,155,200,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%);
  background: linear-gradient(135deg, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%);
}

@mixin hard-shadow {
  -webkit-box-shadow: 5px 5px 0px 0px $shadow-color;
  -moz-box-shadow: 5px 5px 0px 0px $shadow-color;
  box-shadow: 5px 5px 0px 0px $shadow-color;
}

@mixin hard-shadow-white {
  -webkit-box-shadow: 5px 5px 0px 0px $shadow-light;
  -moz-box-shadow: 5px 5px 0px 0px $shadow-light;
  box-shadow: 5px 5px 0px 0px $shadow-light;
}

@mixin button-animation {
  span {
    position: absolute;
    display: block;
  }
  
  span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, $primary);
      animation: btn-anim1 1s linear infinite;
  }
    
  @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
  }
    
  span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, $primary);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
  }
    
  @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
  }
    
  span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, $primary);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s
  }
    
  @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
  }
    
  span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, $primary);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s
  }
    
  @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
  }
}