// random colors
$offwhite: #f8f8f8;
$france: #bcbbbd;
$tapa: #727271;
$tundra: #474040;
$energy: #f9cf5d;
$manhattan: #f6c687;
$goldenrod: #fbc473;
$sandy: #f4ae60;
$apricot: #ed8e74;
$geraldine: #f98673;
$rose: #f02caa;
$thunder: #432943;
$vampire: #62214D;

// sun theme
$sunlight: #FDC300;
$shadow: #EC7501;
$burning: #D35701;
$silouette: #5C0C01;
$darkness: #2E0201;

// @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Electrolize&family=Enriqueta:wght@500;700&family=Russo+One&family=Sriracha&display=swap');// 'Russo One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Sintony:wght@400;700&display=swap');// 'Russo One', sans-serif;

// $main-font: 'Bangers', cursive;
// $main-font: 'Enriqueta', serif;
// $main-font: 'Electrolize', sans-serif;
$main-font: 'Sintony', sans-serif;
$title-font: 'Julius Sans One', sans-serif;
*{
  letter-spacing: 2px; 
}
$small-font: $main-font;
// $title-font: $main-font;
$app-width: 100vw;
$app-height: 80vh;
$border-thickness: 1px;
$welcome-color: $silouette;
$welcome-subtitle: $darkness;
$shadow-light: rgba(255,255,255,.8);
$shadow-color: rgba(0,0,0,0.75);
// ========= THEME SECTION ========


// dark mode
// $outer-bg: #1D2025;
// $primary: #2d2d2d;
// $secondary: #1D2025;
// $third: #1F2933;
// $fourth:#dbdbdb;
// $accents: #9CC1B5;
// $title-font-color: $shadow;
// $lr-menu-headers: $sandy;
// $primary-font-color: #829AB1;
// $secondary-font-color: #CCD9E3;
// $third-font-color: #CCD9E3;
// $placeholder-font-color: #829AB1;
// $border-color: #102A43;
// $button-bg: $primary;
// $button-color: $accents;
// $comment-bg: $secondary;
// $write-comment-bg: #273D54;
// $shadow-light: #829AB1;
// $shadow-color: #1D2025;
// // area specific color vars
// $content-area-bg: $third;
// $menus: $secondary;
// $search-header-bg: $menus;
// $left-menu-bg: $menus;
// $left-menu-primary: $primary-font-color;
// $left-menu-secondary: $secondary-font-color;
// $right-menu-bg: $menus;
// $right-menu-names: $secondary-font-color;
// $right-menu-icons: $accents;
// $compose-bg: $third;
// $post-header-bg: $secondary;
// $post-bg: $secondary;





// high contrast
$outer-bg: #201f28;
$primary: #201f28;
$secondary: #16161D;
// $secondary: #07080f;
$third: #1a191f;
// $third: #110e0e;
$fourth:#d3cfd2;
// $accents: #dc568c;
$accents: #d95788;
// $title-font-color: #d95788;
$title-font-color: #d95788;
$lr-menu-headers: rgb(253, 253, 253);
$primary-font-color: #7ab7ca;
$secondary-font-color: white;
$third-font-color: rgb(236, 138, 45);
$placeholder-font-color: #7ab7ca;
$border-color: $fourth;
$button-bg: $primary;
$button-color: $accents;
$comment-bg: $secondary;
$write-comment-bg: #21212a;
$shadow-light: #27272F;
$shadow-color: #1a191f;
// area specific color vars
// $content-area-bg: $third;
$content-area-bg:rgb(25, 26, 36);
$menus: $secondary;
$search-header-bg: $menus;
$left-menu-bg: $menus;
$left-menu-primary: $primary-font-color;
$left-menu-secondary: $secondary-font-color;
$right-menu-bg: $menus;
$right-menu-names: $secondary-font-color;
$right-menu-icons: $accents;
$compose-bg: $third;
$post-header-bg: transparent;
$post-bg: $secondary;
$border-r: 3px;

#left-menu {
  background: linear-gradient(145deg, #1b1b22, #0c0c13) !important;
  opacity: .8;  //tron mode
  .groups {
    .title {
      font-size: 1.2rem !important;
    }
    ul li {
      font-size: 1rem !important;
    }
  }
  .account-dropdown, .logout {
    background: transparent !important;
  }
}
#messenger {
  background: linear-gradient(225deg, #18181f, #15151f) !important;
  opacity: .8;  //tron mode
  .users {
    background: transparent !important;
  }
}
// #all-posts .post-container .post {
//   box-shadow:  12px 12px 20px #12121a, 
//               -12px -12px 20px #20222e !important;
// }
#compose textarea#content {
  // border-radius: 11px !important;
  background: linear-gradient(145deg, #171720, #1b1c27) !important;
  box-shadow:  12px 12px 20px #12121a, 
              -12px -12px 20px #20222e !important;
}
#left-menu .open-btn,
#messenger .open-btn {
  border-radius: 11px;
  // background: linear-gradient(145deg, #e85d92, #863554) !important;
  background: linear-gradient(145deg, #eb8846, #e7472e) !important;
  i {
    color: #171720 !important;
  }
}
#scroll-this.content-area {
  // background: linear-gradient(225deg, #1b1c27, #171720) !important;
  background: url(/img/sun_background.jpg) no-repeat center !important; //tron mode
  background-size: cover !important;
}
#all-posts .post-container .post {
  opacity: .8;
}

// border stuff
* {
  // border: none !important;   //tron mode

  .app-container{
    border-top: 1px solid #2d2d2d !important;
    border-bottom: 1px solid #2d2d2d !important;
  }

  .users>.user {
    border-bottom: 1px solid #2D2D2D !important;
    &:hover {
      color: $accents !important;
    }
  }
}


// desert mirage
// $outer-bg: transparent;
// $primary: transparent;
// $secondary: transparent;
// // $secondary: #07080f;
// $third: transparent;
// // $third: #110e0e;
// $fourth:#d3cfd2;
// $accents: black;
// $title-font-color:white;
// $lr-menu-headers: white;
// $primary-font-color: navajowhite;
// // $secondary-font-color:brown; 
// $secondary-font-color: white;
// $third-font-color: $silouette;
// // $third-font-color: white;
// $placeholder-font-color: purple;
// $border-color: rgb(255, 178, 85);
// $border-thickness: 2px;
// $button-bg: tan;
// $button-color: brown;
// $comment-bg: transparent;
// $write-comment-bg: rgba(255,255,255, .5);
// $shadow-light: rgb(47, 41, 39);
// $shadow-color: #1f1212;
// // area specific color vars
// // $content-area-bg: $third;
// $content-area-bg: url("/img/br6.jpg") 60% center;
// // $content-area-bg: url("/img/welcome6.jpg");
// $menus: transparent;
// $search-header-bg: transparent;
// $left-menu-bg: transparent;
// $left-menu-primary: #d95788;
// $left-menu-secondary: white;
// $right-menu-bg: transparent;
// $right-menu-names: white;
// $right-menu-icons: #d95788;
// $compose-bg: transparent;
// $post-header-bg: transparent;
// $post-bg: transparent;
// $desat: 80%;
// $blur: 1px;
// $bright: 90%;
// *{
//   // border: $border-thickness solid $border-color !important;
//   // font-weight: 700 !important;
//   border-radius: 3px !important;
// }
// #compose {
//   textarea#content {
//     background: transparent !important;
//   }
// }
// #left-menu {
//   backdrop-filter: brightness(60%) saturate($desat) !important;
//   .groups {
//     .title {
//       font-size: 1.5rem !important;
//     }
//     ul li {
//       font-size: 1.2rem !important;
//     }
//   }
// }
// * .users, * #messenger>.search {
//   border-left: none !important;
// }
// #messenger {
//   backdrop-filter: brightness(60%) saturate($desat) !important;
//   .users .user .username {
//     font-size: 1.2rem !important;
//     font-weight: 700;
//   }
// }
// #all-posts .post-container .post,
// #compose textarea#content {
//   border-radius: 10px !important;
//   // background: linear-gradient(145deg, rgba(253, 152, 16, .5), rgba(226, 162, 43, 0.3)) !important;
//   // background: linear-gradient(145deg, rgba(253, 152, 16, 1), rgba(226, 150, 43, 1)) !important;
//   background: transparent !important;
//   // backdrop-filter: blur(5px) brightness(90%);
//   backdrop-filter: brightness($bright) saturate($desat) !important;
//   box-shadow:  13px 13px 26px rgba(188, 101, 22, 0.6), 
//              -13px -13px 26px rgba(255, 161, 34, 0.6) !important;
// }
// #messenger .chat {
//   background-color: rgba(0,0,0,0.8) !important;
// }

// @media only screen and (max-width: 767px) {
//   #left-menu, 
//   #messenger {
//     backdrop-filter:  brightness(30%) saturate($desat) !important;
//     .users .user .username {
//       font-size: 1rem !important;
//       font-weight: 500;
//     }
//   }
//   #left-menu .open-btn,
//   #messenger .open-btn {
//     background: rgba(255,255,255,.8) !important;
//   }
  
// }




//laser
// $outer-bg: #1e184b;
// $primary: #35287a;
// $secondary: rgb(25, 25, 66);
// // $secondary: #07080f;
// $third: #1a191f;
// // $third: #110e0e;
// $fourth:#d3cfd2;
// $accents: #dc568c;
// $title-font-color: #d95788;
// $lr-menu-headers: rgb(253, 253, 253);
// $primary-font-color: #94c4d4;
// $secondary-font-color: #9DB688;
// $third-font-color: #94c4d4;
// $placeholder-font-color: white;
// $border-color: $fourth;
// $button-bg: $primary;
// $button-color: $accents;
// $comment-bg: $secondary;
// $write-comment-bg: #35293b;
// $shadow-light: #27272F;
// $shadow-color: #1a191f;
// // area specific color vars
// // $content-area-bg: $third;
// $content-area-bg:#11093a;
// $menus: $secondary;
// $search-header-bg: $menus;
// $left-menu-bg: $menus;
// $left-menu-primary: $primary-font-color;
// $left-menu-secondary: $secondary-font-color;
// $right-menu-bg: $menus;
// $right-menu-names: $secondary-font-color;
// $right-menu-icons: $accents;
// $compose-bg: $third;
// $post-header-bg: $secondary;
// $post-bg: $secondary;


// sunset
// $outer-bg: #201f28;
// $primary: #cc99ae;
// $secondary: #140909;
// // $secondary: #07080f;
// $third: #9f8daf;
// // $third: #110e0e;
// $fourth:#d3cfd2;
// // $accents: #dc568c;
// // $title-font-color: #d95788;
// $accents: #ff6640;
// $title-font-color: $shadow;
// // $lr-menu-headers: rgb(253, 253, 253);
// $lr-menu-headers: $sandy;
// $primary-font-color: #d95788;
// $secondary-font-color: #cc99ae;
// $third-font-color: #12a9db;
// $placeholder-font-color: white;
// $border-color: $fourth;
// $button-bg: $primary;
// $button-color: $accents;
// $comment-bg: $secondary;
// $write-comment-bg: #212128;
// $shadow-light: #27272F;
// $shadow-color: #1a191f;
// // area specific color vars
// // $content-area-bg: $third;
// $content-area-bg:rgb(13, 7, 32);
// $menus: $secondary;
// $search-header-bg: $menus;
// $left-menu-bg: $menus;
// $left-menu-primary: $primary-font-color;
// $left-menu-secondary: $secondary-font-color;
// $right-menu-bg: $menus;
// $right-menu-names: $secondary-font-color;
// $right-menu-icons: $accents;
// $compose-bg: $third;
// $post-header-bg: $secondary;
// $post-bg: $secondary;






// b&w
// $outer-bg: #0B0B0C;
// $primary: #1F1E1F;
// $secondary: rgb(34, 34, 34);
// // $secondary: #07080f;
// $third: #2E313B;
// // $third: #110e0e;
// $fourth:white;
// $accents: #ff6640;
// $title-font-color: white;
// $lr-menu-headers: white;
// $primary-font-color: darkgrey;
// $secondary-font-color: lightgrey;
// $third-font-color: white;
// $placeholder-font-color: white;
// $border-color: $fourth;
// $button-bg: $primary;
// $button-color: $accents;
// $comment-bg: $secondary;
// $write-comment-bg: #2E313B;
// $shadow-light: #27272F;
// $shadow-color: #1a191f;
// // area specific color vars
// // $content-area-bg: $third;
// $content-area-bg:rgb(15, 10, 9);
// $menus: $secondary;
// $search-header-bg: $menus;
// $left-menu-bg: $menus;
// $left-menu-primary: $primary-font-color;
// $left-menu-secondary: $secondary-font-color;
// $right-menu-bg: $menus;
// $right-menu-names: $secondary-font-color;
// $right-menu-icons: $accents;
// $compose-bg: $third;
// $post-header-bg: $secondary;
// $post-bg: $secondary;




//not dark mode
// $outer-bg: #475159;
// $content-area-bg: #D9BEB8;
// $primary: #666767;
// $secondary: #7C7170;
// $third: #A6746F;
// $fourth:#D9BEB8;
// $accents: #A6746F;
// $title-font-color: #BF847E;
// $lr-menu-headers: #F2E6E4;
// $primary-font-color: #3D3C3B;
// $secondary-font-color: #6A5F51;
// $third-font-color: #F2E6E4;
// $placeholder-font-color: #829AB1;
// $border-color: #475159;
// $button-bg: $primary;
// $button-color: $accents;
// $comment-bg: $secondary;
// $write-comment-bg: #F2E6E4;
// $shadow-light: #829AB1;
// $shadow-color: #475159;
// // $shadow-color: #273D54;
// // area specific color vars

// $menus: $secondary;
// $search-header-bg: $menus;

// // $lr-menu-headers: $primary-font-color;

// $left-menu-bg: $menus;
// $left-menu-primary: $primary-font-color;
// $left-menu-secondary: $secondary-font-color;

// $right-menu-bg: $menus;
// $right-menu-names: $secondary-font-color;
// $right-menu-icons: $accents;

// $compose-bg: $third;

// $post-header-bg: $secondary;
// $post-bg: $secondary;
// // $comment-bg: $secondary;
// // $write-comment-bg: white;





// off white
// $outer-bg: $offwhite;
// $primary: white;
// $secondary: #D2D7DE;
// $third: #F0F4F8;
// $accents: #f4ae60;
// $title-font-color: $thunder;
// $primary-font-color: $geraldine;
// $secondary-font-color: $thunder;
// $third-font-color: $geraldine;
// $placeholder-font-color: $geraldine;
// $border-color: $thunder;
// $button-bg: $primary;
// $button-color: $primary-font-color;
// $comment-bg: $secondary;
// $write-comment-bg: $primary;

// nautilus
// $primary: #5CA2D5;
// $secondary: #91CCF4;
// $third: #C3DBF5;
// $fourth:#ECECEC;
// $accents: #F3D24F;
// $title-font-color: $secondary;
// $primary-font-color: $fourth;
// $secondary-font-color: $third;
// $third-font-color: $accents;
// $placeholder-font-color: $third-font-color;
// $border-color: $accents;
// $button-color: $primary;
// $button-bg: $accents;

// desert storm
// $primary: #EAE8DC;
// $secondary: #D8C3A4;
// $third: #8E8D89;
// $fourth:#5D5C61;
// $accents: #E85A50;
// $title-font-color: $secondary;
// $primary-font-color: $fourth;
// $secondary-font-color: $third;
// $third-font-color: $accents;
// $placeholder-font-color: $third-font-color;
// $border-color: $fourth;
// $button-color: $primary;
// $button-bg: $accents;

// deep purple
// $primary: #7395AE;
// $secondary: #83687B;
// $third: #557A95;
// $fourth:#5D5C61;
// $accents: #E85A50;
// $title-font-color: $accents;
// $primary-font-color: #4F1B1D;
// $secondary-font-color: $offwhite;
// $placeholder-font-color: $accents;
// $third-font-color: $accents;
// $border-color: $fourth;
// $button-color: $primary;
// $button-bg: $accents;

// seafoam
// $primary: #CAFAFE;
// $secondary: #85CDCA;
// $third: #55BDCA;
// $fourth:#05396B;
// $title-font-color: $secondary;
// $primary-font-color: #05396B;
// $secondary-font-color: #05396B;
// $placeholder-font-color: $primary;
// $third-font-color: $primary;
// $border-color: $fourth;
// $button-color: $primary;
// $button-bg: $accents;

// original (roughly)
// $primary: $apricot;
// $secondary: $offwhite;
// $third: $sunlight;
// $fourth:#5C0C01;
// $title-font-color: $secondary;
// $primary-font-color: $primary;
// $secondary-font-color: $primary;
// $placeholder-font-color: $third;
// $third-font-color: $third;
// $border-color: $fourth;
// $button-color: $primary;
// $button-bg: $accents;








//hixle.co/gradients/fire
// @mixin main-gradient {
//   background: rgba(255,95,108,1);
//   background: -moz-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
//   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,95,108,1)), color-stop(100%, rgba(255,195,113,1)));
//   background: -webkit-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
//   background: -o-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
//   background: -ms-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
//   background: linear-gradient(135deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
// }

@mixin intense-gradient {
  background-image: linear-gradient(to right top, #051937, #45245a, #8e2062, #cc284b, #eb5d12);
}

@mixin cotton-candy-gradient {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

@mixin forest-gradient {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

@mixin main-gradient {
  background: rgb(46,68,91); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(46,68,91,1) 0%, rgba(54,69,94,1) 43%, rgba(130,154,177,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(46,68,91,1) 0%,rgba(54,69,94,1) 43%,rgba(130,154,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(46,68,91,1) 0%,rgba(54,69,94,1) 43%,rgba(130,154,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin lighter-gradient {
  background: rgb(251,227,138);
  background: linear-gradient(315deg, rgba(251,227,138,1) 0%, rgba(205,155,177,1) 100%);
}

@mixin fb-gradient {
  background: rgb(30,87,153);
  background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
}

@mixin google-gradient {
  background: rgb(248,80,50);
  background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
  background: linear-gradient(135deg, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
}

@mixin email-gradient {
  background: rgb(210,223,237);
  background: -moz-linear-gradient(-45deg, rgba(210,223,237,1) 0%, rgba(200,215,235,1) 26%, rgba(190,208,234,1) 51%, rgba(166,192,227,1) 51%, rgba(175,199,232,1) 62%, rgba(186,208,239,1) 75%, rgba(153,181,219,1) 88%, rgba(121,155,200,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%);
  background: linear-gradient(135deg, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%);
}

@mixin old-hard-shadow {
  -webkit-box-shadow: 5px 5px 0px 0px $shadow-color;
  -moz-box-shadow: 5px 5px 0px 0px $shadow-color;
  box-shadow: 5px 5px 0px 0px $shadow-color;
}
@mixin hard-shadow {
  -webkit-box-shadow: 3px 12px 56px -15px rgba(0,0,0,0.34);
-moz-box-shadow: 3px 12px 56px -15px rgba(0,0,0,0.34);
box-shadow: 3px 12px 56px -15px rgba(0,0,0,0.34);
}

@mixin hard-shadow-white {
  -webkit-box-shadow: 5px 5px 0px 0px $shadow-light;
  -moz-box-shadow: 5px 5px 0px 0px $shadow-light;
  box-shadow: 5px 5px 0px 0px $shadow-light;
}

@mixin button-animation {
  span {
    position: absolute;
    display: block;
  }
  
  span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, $primary);
      animation: btn-anim1 1s linear infinite;
  }
    
  @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
  }
    
  span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, $primary);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
  }
    
  @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
  }
    
  span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, $primary);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s
  }
    
  @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
  }
    
  span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, $primary);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s
  }
    
  @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
  }
}