// random colors
$offwhite: #f8f8f8;
$france: #bcbbbd;
$tapa: #727271;
$tundra: #474040;
$energy: #f9cf5d;
$manhattan: #f6c687;
$goldenrod: #fbc473;
$sandy: #f4ae60;
$apricot: #ed8e74;
$geraldine: #f98673;
$rose: #f02caa;
$thunder: #432943;
$vampire: #62214D;

// sun theme
$sunlight: #FDC300;
$shadow: #EC7501;
$burning: #D35701;
$silouette: #5C0C01;
$darkness: #2E0201;

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Electrolize&family=Enriqueta:wght@500;700&family=Russo+One&family=Sriracha&display=swap');// 'Russo One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Sintony:wght@400;700&display=swap');// 'Russo One', sans-serif;
// 'Electrolize', sans-serif;
// 'Bangers', cursive;
// 'Enriqueta', serif;
// $main-font: 'Electrolize', sans-serif;
$main-font: 'Sintony', sans-serif;
$title-font: 'Julius Sans One', sans-serif;
*{
  letter-spacing: 2px; 
}
$small-font: $main-font;
// $title-font: $main-font;
$app-width: 100vw;
$app-height: 80vh;
$border-thickness: 1px;
$welcome-color: $silouette;
$welcome-subtitle: $darkness;
$shadow-light: rgba(255,255,255,.8);
$shadow-color: rgba(0,0,0,0.75);
// ========= THEME SECTION ========


//dark mode
$outer-bg: #1D2025;
$primary: #2d2d2d;
$secondary: #1D2025;
$third: #1F2933;
$fourth:#dbdbdb;
$accents: #9CC1B5;
$title-font-color: $shadow;
$lr-menu-headers: $sandy;
$primary-font-color: #829AB1;
$secondary-font-color: #CCD9E3;
$third-font-color: #CCD9E3;
$placeholder-font-color: #829AB1;
$border-color: #102A43;
$button-bg: $primary;
$button-color: $accents;
$comment-bg: $secondary;
$write-comment-bg: #273D54;
$shadow-light: #829AB1;
$shadow-color: #1D2025;
// $shadow-color: #273D54;
// area specific color vars
$content-area-bg: $third;
$menus: $secondary;
$search-header-bg: $menus;

// $lr-menu-headers: $primary-font-color;

$left-menu-bg: $menus;
$left-menu-primary: $primary-font-color;
$left-menu-secondary: $secondary-font-color;

$right-menu-bg: $menus;
$right-menu-names: $secondary-font-color;
$right-menu-icons: $accents;

$compose-bg: $third;

$post-header-bg: $secondary;
$post-bg: $secondary;
// $comment-bg: $secondary;
// $write-comment-bg: white;



* {
  border: none !important;

  .app-container{
    border-top: 1px solid #2d2d2d !important;
    border-bottom: 1px solid #2d2d2d !important;
  }

  .users, 
  #messenger>.search {
    border-left: 1px solid #1D2025 !important;
  }

  .users>.user {
    border-bottom: 1px solid #2D2D2D !important;
    &:hover {
      color: $accents !important;
    }
  }
}



// off white
// $outer-bg: $offwhite;
// $primary: white;
// $secondary: #D2D7DE;
// $third: #F0F4F8;
// $accents: #f4ae60;
// $title-font-color: $thunder;
// $primary-font-color: $geraldine;
// $secondary-font-color: $thunder;
// $third-font-color: $geraldine;
// $placeholder-font-color: $geraldine;
// $border-color: $thunder;
// $button-bg: $primary;
// $button-color: $primary-font-color;
// $comment-bg: $secondary;
// $write-comment-bg: $primary;

// nautilus
// $primary: #5CA2D5;
// $secondary: #91CCF4;
// $third: #C3DBF5;
// $fourth:#ECECEC;
// $accents: #F3D24F;
// $title-font-color: $secondary;
// $primary-font-color: $fourth;
// $secondary-font-color: $third;
// $third-font-color: $accents;
// $placeholder-font-color: $third-font-color;
// $border-color: $accents;
// $button-color: $primary;
// $button-bg: $accents;

// desert storm
// $primary: #EAE8DC;
// $secondary: #D8C3A4;
// $third: #8E8D89;
// $fourth:#5D5C61;
// $accents: #E85A50;
// $title-font-color: $secondary;
// $primary-font-color: $fourth;
// $secondary-font-color: $third;
// $third-font-color: $accents;
// $placeholder-font-color: $third-font-color;
// $border-color: $fourth;
// $button-color: $primary;
// $button-bg: $accents;

// deep purple
// $primary: #7395AE;
// $secondary: #83687B;
// $third: #557A95;
// $fourth:#5D5C61;
// $accents: #E85A50;
// $title-font-color: $accents;
// $primary-font-color: #4F1B1D;
// $secondary-font-color: $offwhite;
// $placeholder-font-color: $accents;
// $third-font-color: $accents;
// $border-color: $fourth;
// $button-color: $primary;
// $button-bg: $accents;

// seafoam
// $primary: #CAFAFE;
// $secondary: #85CDCA;
// $third: #55BDCA;
// $fourth:#05396B;
// $title-font-color: $secondary;
// $primary-font-color: #05396B;
// $secondary-font-color: #05396B;
// $placeholder-font-color: $primary;
// $third-font-color: $primary;
// $border-color: $fourth;
// $button-color: $primary;
// $button-bg: $accents;

// original (roughly)
// $primary: $apricot;
// $secondary: $offwhite;
// $third: $sunlight;
// $fourth:#5C0C01;
// $title-font-color: $secondary;
// $primary-font-color: $primary;
// $secondary-font-color: $primary;
// $placeholder-font-color: $third;
// $third-font-color: $third;
// $border-color: $fourth;
// $button-color: $primary;
// $button-bg: $accents;








//hixle.co/gradients/fire
// @mixin main-gradient {
//   background: rgba(255,95,108,1);
//   background: -moz-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
//   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,95,108,1)), color-stop(100%, rgba(255,195,113,1)));
//   background: -webkit-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
//   background: -o-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
//   background: -ms-linear-gradient(-45deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
//   background: linear-gradient(135deg, rgba(255,95,108,1) 0%, rgba(255,195,113,1) 100%);
// }

@mixin intense-gradient {
  background-image: linear-gradient(to right top, #051937, #45245a, #8e2062, #cc284b, #eb5d12);
}

@mixin cotton-candy-gradient {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

@mixin forest-gradient {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

@mixin main-gradient {
  background: rgb(46,68,91); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(46,68,91,1) 0%, rgba(54,69,94,1) 43%, rgba(130,154,177,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(46,68,91,1) 0%,rgba(54,69,94,1) 43%,rgba(130,154,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(46,68,91,1) 0%,rgba(54,69,94,1) 43%,rgba(130,154,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin lighter-gradient {
  background: rgb(251,227,138);
  background: linear-gradient(315deg, rgba(251,227,138,1) 0%, rgba(205,155,177,1) 100%);
}

@mixin fb-gradient {
  background: rgb(30,87,153);
  background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
}

@mixin google-gradient {
  background: rgb(248,80,50);
  background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
  background: linear-gradient(135deg, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
}

@mixin email-gradient {
  background: rgb(210,223,237);
  background: -moz-linear-gradient(-45deg, rgba(210,223,237,1) 0%, rgba(200,215,235,1) 26%, rgba(190,208,234,1) 51%, rgba(166,192,227,1) 51%, rgba(175,199,232,1) 62%, rgba(186,208,239,1) 75%, rgba(153,181,219,1) 88%, rgba(121,155,200,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%);
  background: linear-gradient(135deg, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%);
}

@mixin old-hard-shadow {
  -webkit-box-shadow: 5px 5px 0px 0px $shadow-color;
  -moz-box-shadow: 5px 5px 0px 0px $shadow-color;
  box-shadow: 5px 5px 0px 0px $shadow-color;
}
@mixin hard-shadow {
  -webkit-box-shadow: 5px 5px 20px 0px $shadow-color;
  -moz-box-shadow: 5px 5px 20px 0px $shadow-color;
  box-shadow: 5px 5px 20px 5px $shadow-color;
}

@mixin hard-shadow-white {
  -webkit-box-shadow: 5px 5px 0px 0px $shadow-light;
  -moz-box-shadow: 5px 5px 0px 0px $shadow-light;
  box-shadow: 5px 5px 0px 0px $shadow-light;
}

@mixin button-animation {
  span {
    position: absolute;
    display: block;
  }
  
  span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, $primary);
      animation: btn-anim1 1s linear infinite;
  }
    
  @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
  }
    
  span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, $primary);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
  }
    
  @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
  }
    
  span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, $primary);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s
  }
    
  @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
  }
    
  span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, $primary);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s
  }
    
  @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
  }
}