// @import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
// @import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Josefin+Slab:wght@600;700&family=Source+Code+Pro:ital@0;1&family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import "reset";
@import "variables";
@import "pages/welcome";
@import "pages/home";
@import "pages/profile";
@import "auth/auth";
@import "pages/loading";
@import "pages/left-menu";
@import "pages/compose";
@import "pages/all-posts";
@import "pages/messenger";


* {
  box-sizing: border-box;
  font-family: $main-font;
}

.send-btn,
.like-btn,
.del-btn,
.photo-btn,
.video-btn,
.share-btn,
.close-btn {
  // background: $button-bg;
  background: transparent;
  border-radius: 20%;
  color: $button-color;
  transition: all .3s ease;
  &:hover {
    color: #AEEE98;
    transform: scale(1.1);
    // background: $button-color;
  }
}

a {
  text-decoration: none;
}

body {

  background: $outer-bg;
  // @include forest-gradient;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $main-font;

  .title {
    h1 {
      font-family: $title-font;
      font-size: 70px;
      font-weight: 700;
      color: $title-font-color;
      letter-spacing: 20px;
      white-space: nowrap;
      // width: 4.3em;
      overflow: hidden;
      margin-top: 2rem;
      margin-bottom: 1rem;
      // animation: type 4s steps(15, end); 
      pointer-events: none;
      // &::selection {
      //   text-shadow: 5px 5px black;
      // }
    }
  
    // h1:nth-child(2) {
    //   animation: type2 8s steps(15, end);
    // }
  
    // @keyframes type { 
    //   from { width: 0; } 
    // } 
    
    // @keyframes type2 {
    //   0%{width: 0;}
    //   50%{width: 0;}
    //   100%{ width: 100; } 
    // } 
  }
  
  
  #app {
    // max-width: 1600px;
    // min-width: 1400px;
    width: 100vw;
    height: 100vh;
    // max-width: 1600px;
  }
  .app-container {
    width: 100%;
    // max-width: 1400px;
    margin: 0 auto;
    min-height: 80vh;
    height: 100vh;
    overflow: hidden;
    border: $border-thickness solid $border-color;
  }
    
}


input[type="text"], 
input[type="email"], 
input[type="password"] {
  font-size: 1.3rem;
  padding: 3px 8px;
  width: 100%;
  background: white;
  border: 1px solid $primary;
  outline: none;
  color: $primary;
  &::placeholder {
    color: $primary;
    opacity: .5;
  }
  &:focus::placeholder {
     color: transparent;
  }
}

.notify {
  
  display: none;
  &.active {
    display: block;
  }

  &.success {
    background: lightgreen;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    padding: .6rem 2rem;
  }

}



// ALL MEDIA QUERIES


// disable hover on touchscreens 
@media (hover: none) {
  *:hover {
     color: inherit;
  }
}


@media only screen and (max-width: 767px) {


  * {
    letter-spacing: 1px;
  }

  .notify.success.active {
    width: 100%;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;

    .title {
      margin-bottom: 0;
      padding: 0;
      height: 40px;
      h1 {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
      }
    }

    .title.app {
      margin-bottom: 0;
      padding: 0;
      height: 20px;
      h1 {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 20px;
      }
    }

    #app {
      height: 85vh;
    }

    .app-container {
      height: 85vh;
    }
  }

 

  .welcome-page {
    height: 100vh;
    overflow-y: hidden;

    .welcome-container{
      .welcome {
        h1 {
          font-size: 35px;
        }
      }
      .login {
        margin-top: 2rem;
  
        .button {
          &:hover {
            transform: none;
          }
        }
      }
    }
  }
  

  .home-page {

    #content-container {

      height: 85vh;

      .header {
        .search {
          input[type="text"] {
            font-size: .9rem;
          }
        }
      }

      .content-area {
        position: sticky;
        // width: 80%;
        width: 100%;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;

        height: calc(85vh - 57px);
        overflow-x: hidden;

        #compose {
          // position: relative;
          // left: -1rem;
          // width: 80%;
          width: 95%;
          margin-bottom: 1.5rem;


          .preview {
            right: 2rem;
          }

          textarea {
            font-size: .8rem;
          }
        }
      }
    }


    #all-posts>.post-container {
      width: 95%;

      .post {
        margin-bottom: 1rem;
      }

      .post-header {
        .author {
          .username {
            font-size: .9rem;
          }
          .text {
            display: none;
          }
        }
        .time {
          display: none;
        }
        .del-btn {
          margin-left: auto;
          margin-right: 0;
        }
      }

      .post-media {
        height: 250px;
      }

      .post-info p {
        // text-align: center;
        color: $title-font-color;
        font-size: .9rem;
        padding: .8rem .5rem;
      } 

      .post-stats {

        .icons {
          .like-btn {
            margin-right: .5rem;
          }
        }

        .text {
          margin-left: 0;
          font-size: .6rem;
        }
        .comment-count {
          display: none;
        }
      }

      .c-section {
        textarea {
          padding: .3rem 2rem .3rem .5rem;
        }
      }

      .buttons {
        .send-btn {
          width: 40px;
          height: 40px;
          margin-right: 0;
        }

        .comments {

          .single-comment {
            padding: .1rem;
  
            .user>h2 {
              font-size: .7rem;
            }
            p {
              font-size: .7rem;
            }
          }
        }
      }
    }
  }

  .send-btn,
  .like-btn,
  .del-btn,
  .photo-btn,
  .video-btn,
  .share-btn,
  .open-btn {
    width: 40px;
    height: 40px;
  }

  #left-menu {
    padding: 0;

    .account-dropdown {
      height: 3rem;
      margin-right: 0;
      .username {
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }
    .groups {
      padding-left: 2rem;
      .title {
        font-size: 1rem;
      }
      ul>li {
        font-size: .7rem;
      }
    }
    &.closed {
      box-shadow: none;
      // left: -11rem;
      left: -12.3rem;
    }

    .open-btn {
      top: 50%;
      // background: $title-font-color;
      background: $accents;
      color: black;
      transform: rotateZ(0deg) translateX(0px);
      
      i {
        color: black;

        &.closed {
            color: black;
            transform: translateX(10px);
            transform: rotateZ(180deg) translateX(-10px);
        }
      }
    }
  }

  #messenger {
    width: 15rem;

    .messenger-header {
      height: 3rem;

      .title {
        font-size: 1rem;
      }
    }

    .users {
      padding-left: 2rem;

      .user {
        padding-left: 0;
        width: 13rem;

        .username {
          font-size: .8rem;
        }

        .message-icon {
          display: none;
        }
      }

      .divider {
        justify-content: left;
        padding-left: 2rem;
        font-size: .8rem;
      }
    }

    &.closed {
      box-shadow: none;
      // right: -17.4rem;
      right: -14.8rem;
    }

    .search {
      margin-left: 1rem;
      input[type='text'] {
        font-size: 1rem;
      }
    }

    .open-btn {
      top: 50%;
      // background: $title-font-color;
      background: $accents;
      color: black;
      transform: rotateZ(0deg) translateX(0px);
      
      i {
        color: black;

        &.closed {
            color: black;
            transform: rotateZ(180deg) translateX(10px);
        }
      }
    }

    .chat {
      @include hard-shadow;
      // padding-right: 1rem;
      width: 230px;
      height: 300px;

      left: -15rem;
      bottom: 0;

      .chat-header {
        .chat-user {
          font-size: .9rem;
        }

        .close-btn {
          font-size: 1.1rem;
        }
      }

      .chat-body {
        p {
          font-size: .9rem;
        }
      }
    }
    
  }

  .profile-page {
    .user-img {
      width: auto;
    }
  }

}

