// @import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
// @import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Josefin+Slab:wght@600;700&family=Source+Code+Pro:ital@0;1&family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import "reset";
@import "variables";
@import "pages/welcome";
@import "pages/home";
@import "pages/profile";
@import "auth/auth";
@import "pages/loading";
@import "pages/left-menu";
@import "pages/compose";
@import "pages/all-posts";
@import "pages/messenger";


* {
  box-sizing: border-box;
  font-family: $main-font;
}

.send-btn,
.like-btn,
.del-btn,
.photo-btn,
.video-btn,
.share-btn,
.close-btn {
  // background: $button-bg;
  background: transparent;
  border-radius: 20%;
  color: $button-color;
  transition: all .3s ease;
  &:hover {
    color: #AEEE98;
    transform: scale(1.1);
    // background: $button-color;
  }
}

a {
  text-decoration: none;
}

body {

  background: $outer-bg;
  // @include main-gradient;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $main-font;

  .title {
    h1 {
      font-family: $title-font;
      font-size: 70px;
      font-weight: 700;
      color: $title-font-color;
      letter-spacing: 20px;
      white-space: nowrap;
      width: 4.3em;
      overflow: hidden;
      margin-bottom: 1rem;
      // animation: type 4s steps(15, end); 
      pointer-events: none;
      &::selection {
        text-shadow: 5px 5px black;
      }
    }
  
    h1:nth-child(2) {
      animation: type2 8s steps(15, end);
    }
  
    @keyframes type { 
      from { width: 0; } 
    } 
    
    @keyframes type2 {
      0%{width: 0;}
      50%{width: 0;}
      100%{ width: 100; } 
    } 
  }
  
  
  #app {
    // max-width: 1600px;
    // min-width: 1400px;
    width: $app-width;
    height: $app-height;
    // max-width: 1600px;
  }

  .app-container {
    width: 100%;
    // max-width: 1400px;
    margin: 0 auto;
    min-height: 80vh;
    height: 80vh;
    overflow: hidden;
    border: $border-thickness solid $border-color;
  }
    
}


input[type="text"], 
input[type="email"], 
input[type="password"] {
  font-size: 1.3rem;
  padding: 3px 8px;
  width: 100%;
  background: white;
  border: 1px solid $primary;
  outline: none;
  color: $primary;
  &::placeholder {
    color: $primary;
    opacity: .5;
  }
  &:focus::placeholder {
     color: transparent;
  }
}

.notify {
  
  display: none;
  &.active {
    display: block;
  }

  &.success {
    background: lightgreen;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    padding: .6rem 2rem;
  }

}



@media only screen and (max-width: 1200px) {


  .welcome-page {
    height: 100%;
    overflow-y: hidden;
  }
  .welcome-container{
    .login {
      .button {
        &:hover {
          transform: none;
        }
      }
    }
  }

  .home-page {

    .content-area>#compose {
      position: relative;
      left: -1rem;
    }

    #all-posts>.post-container {
      // max-width: 95vw;
      position: relative;
      left: -1rem;

      .post-header {
        .author {
          .username {
            // font-size: 2rem;
          }
          .text {
            font-size: .5rem;
          }
        }
        .time {
          display: none;
        }
        .del-btn {
          margin-left: auto;
        }
      }

      .post-info p {
        text-align: center;
        color: $title-font-color;
        font-size: .9rem;
      } 

      .post-stats {
        .text {
          font-size: .6rem;
        }
        .comment-count {
          font-size: .6rem;
        }
      }

      .c-section {
        textarea {
          // font-size: 2rem;
        }
      }

      .buttons {
        .send-btn {
          width: 40px;
          height: 40px;
          i {
            // font-size: 2rem;
          }
        }

        .single-comment {
          .user>h2 {
            // font-size: 1.5rem;
          }
          p {
            // font-size: 1.5rem;
          }
        }
      }
    }
  }

  .send-btn,
  .like-btn,
  .del-btn,
  .photo-btn,
  .video-btn,
  .share-btn,
  .open-btn {
    width: 40px;
    height: 40px;
    i {
      // font-size: 2rem;
    }
  }

  #compose {
    width: 80%;
    textarea {
      // font-size: 2rem;
    }

    .send-btn,
    .photo-btn {
      width: 40px;
      height: 40px;
      i {
        // font-size: 2rem;
      }
    }
  }

  #left-menu {
    .account-dropdown>.username {
      // font-size: 1.5rem;
    }
    .groups {
      .title {
        // font-size: 2rem;
      }
      ul>li {
        // font-size: 1.3rem;
      }
    }
    &.closed {
      box-shadow: none;
      left: -16rem;
    }

    .open-btn {
      top: 30%;
      // width: 50px;
      // height: 50px;
      i {
        // font-size: 3rem;
      }
    }
  }

  #messenger {
    .messenger-header>.title {
      // font-size: 1.5rem;
    }

    .users {
      padding-left: 1.2rem;

      .user>.username {
        // font-size: 1.5rem;
      }
    }

    &.closed {
      box-shadow: none;
      right: -15.5rem;
    }

    .open-btn {
      top: 30%;
      // width: 50px;
      // height: 50px;
      i {
        // font-size: 3rem;
      }
    }

    .chat {
      width: 270px;
      height: 300px;
      left: -110%;
      bottom: 1rem;
    }
    
  }

}

