<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
  </title>
  <link rel="icon" type="image/png" href="http://index-me.herokuapp.com/favicon.png">
  <link rel="stylesheet" href="/css/fontello-all-you-need/css/allyouneed.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:title" content="INDEX" />
  <meta property="og:description" content="Another social media site." />
  <meta property="og:image" content="https://index-me.herokuapp.com/img/index2.jpg" />
</head>
<body 
{{--  style="background: url('/img/welcome6.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">  --}}
>
  @!section('content-area')

  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/main.js"></script>
  <script async
          src="http://guteurls.de/guteurls.js"
          selector=".post-info">
  </script>
</body>
</html>
