<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
  </title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/fontello-all-you-need/css/allyouneed.css">
  <link rel="stylesheet" href="/css/ReactToastify.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="apple-touch-icon" href="/img/apple_touch_icon.png">
  <meta name="theme-color" content="#94c4d4" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:title" content="INDEX" />
  <meta property="og:description" content="Another social media site." />
  <meta property="og:image" content="https://index-me.herokuapp.com/img/index2.jpg" />
  <meta name="description" content="Another social media site." />
  <link rel="manifest" href="/manifest.json">
</head>
<body 
{{--  style="background: url('/img/welcome6.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">  --}}
>
  @!section('content-area')

  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/main.js"></script>
  <script defer src="/js/addsw.js"></script>
  <script>
    function load() {
      /mobile/i.test(navigator.userAgent) && !location.hash && setTimeout(function() {
        window.scrollTo(0, 1);
      }, 1000);​
    };
    window.onload = load;
  </script>

</body>
</html>
